In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [2]:
#GETTING THE STOCK DATA USING THE API KEY FOR ALPHA VANTAGE

api_key='API KEY'
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time

ts = TimeSeries(key=api_key,output_format='pandas')
data,meta_data = ts.get_intraday(symbol='MSFT',interval='1min',outputsize='full')

print(data)

                     1. open  2. high  3. low  4. close  5. volume
date
2020-11-03 20:00:00   206.20   206.50  206.00    206.00     3002.0
2020-11-03 19:59:00   206.29   206.32  206.10    206.20     3206.0
2020-11-03 19:58:00   206.60   206.60  206.50    206.50     2630.0
2020-11-03 19:57:00   206.52   206.52  206.52    206.52      710.0
2020-11-03 19:56:00   206.81   206.81  206.52    206.52     2364.0
...                      ...      ...     ...       ...        ...
2020-10-21 04:21:00   214.52   214.52  214.52    214.52      275.0
2020-10-21 04:09:00   214.52   214.52  214.52    214.52      280.0
2020-10-21 04:06:00   214.52   214.52  214.52    214.52     1001.0
2020-10-21 04:05:00   214.92   214.92  214.90    214.90      511.0
2020-10-21 04:01:00   215.46   215.46  215.00    215.25     1780.0

[7006 rows x 5 columns]

In [3]:
df=data
df.head()
df.shape

(7006, 5)

#GET THE 'CLOSE PRICE' 
df=df[['4. close']]

df.head()

In [4]:
df.sort_values('4. close')

                     1. open   2. high   3. low  4. close  5. volume
date
2020-10-30 11:34:00   199.73  199.7500  199.650  199.6800    61735.0
2020-10-30 11:41:00   199.96  200.0600  199.660  199.7100   105035.0
2020-10-30 11:39:00   199.78  199.8143  199.640  199.7500   115852.0
2020-10-30 11:33:00   199.88  199.8900  199.745  199.7598    91942.0
2020-10-30 11:00:00   200.01  200.0500  199.760  199.7700   392834.0
...                      ...       ...      ...       ...        ...
2020-10-21 14:58:00   216.88  216.9000  216.781  216.8880    30234.0
2020-10-23 19:51:00   216.85  216.8900  216.850  216.8900      344.0
2020-10-23 19:52:00   216.95  216.9500  216.900  216.9000     1029.0
2020-10-23 19:54:00   216.98  216.9800  216.980  216.9800      777.0
2020-10-23 19:53:00   217.00  217.0000  217.000  217.0000     1250.0

[7006 rows x 5 columns]

#CREATING A VARIABLE FOR PREDICTION FOR 'n' DAYS INTO THE FUTURE DAYS 
pred=6000
#CREATE ANOTHER COLUMN WHICH IS THE TARGET,ALSO CALLED THE DEPENDENT VARIABLE USING SHIFT() (WHICH WILL SHIFT IT 'n' UNITS UP)
df['prediction']=df[['4. close']].shift(-pred)
print(df.head())

In [5]:
df.isnull().sum()

1. open      0
2. high      0
3. low       0
4. close     0
5. volume    0
dtype: int64

In [6]:
df.shape[0]

7006

In [7]:
#CREATE THE INDEPENDENT DATASET (X)
#CONVERTING THE DATAFRAME INTO A NUMPY ARRAY
X = df.drop(['4. close'],1).values
#X = df.drop(['date'],1).values
#X = X[:]
print(X)
df.columns
print(X.shape)

[[ 206.2   206.5   206.   3002.  ]
 [ 206.29  206.32  206.1  3206.  ]
 [ 206.6   206.6   206.5  2630.  ]
 ...
 [ 214.52  214.52  214.52 1001.  ]
 [ 214.92  214.92  214.9   511.  ]
 [ 215.46  215.46  215.   1780.  ]]
(7006, 4)

In [8]:
#CREATE DEPENDENT DATASET (Y) and ADD THE VALUES TO IT INCLUDING NaN VALUES
y = df['4. close'].values
#y=y[:-pred]
y.shape

(7006,)

In [9]:

#y=y.transpose()
#y=y.reshape(-1,1)
y.shape

(7006,)

In [21]:
#SPLIT THE DATA USING train_test_split() TEST=20% TRAIN=80%
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

#CREATE AND TRAIN SUPPORT VECTOR MACHINE(REGRESSOR)
svr_rbf=SVR(kernel='rbf',C=1e3,gamma=0.1)
svr_rbf.fit(x_train,y_train.ravel())

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [23]:
y_train=y_train.reshape(-1,1)
x_test.shape

(1402, 4)

In [24]:
y_train.shape

(5604, 1)

In [25]:
s=LinearRegression()
s.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
s.score(x_test,y_test)

0.9996555274415654

In [36]:
y_pred=s.predict(x_test)
print(y_pred[:10])

[[215.75192887]
 [212.07302901]
 [204.52103265]
 [208.54443988]
 [207.1449205 ]
 [208.00146221]
 [215.07093297]
 [203.20381548]
 [203.79457399]
 [206.96893886]]

In [28]:
svr_rbf.score(x_test,y_test)

0.28859092007057596

In [38]:
pred=svr_rbf.predict(x_test)
print(pred[:10])

[208.69688287 208.90151523 208.6339458  208.69533616 208.69739342
 208.69687931 214.1596177  208.69640253 208.66125716 208.69687931]

# PROJECT BY DIVYANSH SHARMA(PRESIDENCY UNIVERSITY)